body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  max-height: 100vh;
}

a {
  color: #00B7FF;
}

.w-100 {
  width: 100%
}

.h-100 {
  height: 100vh
}

.mx-15 {
  margin-top: 15px;
  margin-bottom: 15px
}

.font {
  font-size: 500%;
}

/* .pokimage {
  background-color: red;
} */


/* Nouvelles règles si la fenêtre fait au plus 700px de large */
@media screen and (max-width: 700px)
{
    .middle {        
        flex-direction: column;
    }
}